# URL do projeto Supabase
SUPABASE_URL=https://seu-projeto.supabase.co

# Chave pública ANON do Supabase
SUPABASE_ANON_KEY=sb_publishable_WnBZQPTptyvXRSq7ak_-vQ_rPxtvWq0

# Porta do servidor backend
PORT=3000